.mainContainer {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  display: flex;
}
/* Sidebar innehåll */
.sideBar {
  height: 80%;
  width: 20%;
  border: 1px solid black;
}

/* Main container innehåll */
.container {
    height: 80%;
    width: 80%;
    border: 1px solid black;
}

.nameContainer {
  height: 3rem;
    width: 80%;
    border: 1px solid black;
}

.backgroundContainer {
  height: 90%;
  width:90%;
  border: 1px solid black;
  position: relative;
}