.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContent {
  min-width: 30%;
  min-height: 200px;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  
}

.closeBtn {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: rgb(207, 191, 199);
  border: 2px solid rgb(0, 0, 0);
  color: rgb(97, 74, 74);
}

.closeBtn:hover {
  cursor: pointer;
  background-color: rgb(158, 139, 148);
  border: 2px solid rgb(49, 47, 47);
  color: rgb(125, 79, 79);
}