.container {
  height: 12rem;
  border: 3px solid rgb(128, 185, 54);
  border-radius: 1rem;
background-color: rgb(26, 26, 71);

 
}

.link {  
  text-decoration: none;
}

.row1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-bottom: 1px solid white;
}
.row1 p {
    font-size: 0.8rem;
}
.row2{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  color: white;
  /* border: 1px solid white; */
}
.row2 p {
    font-size: 0.6rem;
}

.row3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* border-bottom: 1px solid white; */
}
.row3 p {
  text-align: center;
    font-size: 0.6rem;
}

.imgContainer {
  height: 3rem;
  width: 3rem;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  border-radius: 50%;
  border: 3px solid rgb(128, 185, 54);
  position: relative;
 
}