.mainContainer {
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
}

/* top container innehåll */
.topContainer {
  height: 40%;
  width: 100%;
  /* border: 1px solid rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
}

.imgContainer {
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  position: relative;
}

.bottomContainer {
  height: 60%;
  width: 100%;
  /* border: 1px solid rgb(0, 0, 0); */
}

.bottomContainer p {
  padding: 0 10px;
  font-size: 0.7rem;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}