.mainContainer {
  text-align: center;
   height: 25rem;
   width: 99%;
   display: flex;
   flex-direction: column;
   position: relative;
   
   
 }

 .cardContainer {
  width: 100%;
   display: flex;
  justify-content: space-evenly; 
 }
 
  .heroTexts {
   height: 20rem;
   width: 99%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 } 
  
 .heroDesc {
   height: 2rem;
   width: 70%;
   margin-bottom: 3rem;
 }
 

 .wrapperCards {
  width: 20%;
 }
 
 /* Media Queries */
 @media (max-width: 699px) {

  .mainContainer {
   height: 20rem;
 }

 .cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
  .heroTexts {
   height: 20rem;
 } 
  
 .heroDesc {
   height: 1rem;
   width: 100%;
 }

 .wrapperCards {
  width: 80%;
 }
 }
