.mainContainer {
  text-align: center;
   height: 40rem;
   width: 99%;
   display: flex;
   flex-direction: column;
   position: relative;
 }

 .cardContainer {
  width: 100%;
   display: flex;
  justify-content: space-evenly; 
 }
 
  .heroTexts {
   height: 20rem;
   width: 99%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 } 
  
 .heroDesc {
   height: 2rem;
   width: 70%;
   margin-bottom: 3rem;
 }
 
 .imgContainer {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
 }

 .wrapperCards {
  width: 20%;
 }
 
 