.tabContent {
  display: flex;
  flex-direction: column;
} 
.tabContent h3 {
text-align: center;
}

.tabContent hr {
  width: 40%;
}

.tabContent p {
  font-size: 0.6rem;
 
}

.textContainer {
  width: 100%;
  display: flex;
  /* border: 1px solid black; */
 
}

.textContainer p {
  margin-left: 1rem;
}

/* Media Queries */
@media (max-width: 699px) {
  .tabContent {
    display: flex;
    flex-direction: column;
  } 
  .tabContent h3 {
    font-size: 0.5rem;
  text-align: center;
  }
  
  .tabContent p {
    font-size: 0.4rem;
   padding: 0 3px;
  }
  

  .textContainer p {
    margin-left: 0rem;
  }
}